################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CSharpExtendedCommands/obj/Debug
/CSharpExtendedCommands/obj/Release
